// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 88px;
  background-color: #F8F8F8;
  }
h2{
font-family: 'Open Sans Condensed', sans-serif;
font-size: 26px;
}